{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="select-date text-center font-weight-bold p-3 mb-4">
  <div class="bg-light p-2 rounded">
    {{point.name}}
  </div>
</div>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">النقاط</li>
      <li class="breadcrumb-item">{{point.name}}</li>
      <li class="breadcrumb-item">استرجاع بضاعة للمخزن</li>
    </ol>
  </nav>
</div>


  <div class="form-group row">
      <label for="products" class="col-sm-2 font-weight-bold col-form-label">اســـم المنتج</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <select class="form-control" id="search_list"   aria-label="Amount (to the nearest dollar)" >
              <option value="">اختر اسم المنتج</option>
              {%for ttp in total_point_products %}
              {%if ttp.total_product_quantity > 0%}
                <option value="{{ttp.product.id}}"  >{{ttp.product.name}}</option>
              {%endif%}
              {%endfor%}
          </select>
        </div>
      </div>
  </div>
{%for ttp in total_point_products %}
{%if ttp.total_product_quantity > 0%}
  <div id="sell_product_{{ttp.product.id}}">
  <form method="post" id="sell_form">
    {%csrf_token%}

      <input type="number" name="product_id" value="{{ttp.product.id}}"  style="display:None;">

      {%if ttp.old_amount > 0 %}
      <!--  <div class="form-group row text-danger">
            <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالكرتونة قديم</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="number"  name="last_quantity_packet{{ttp.product.id}}" min ="0" class="form-control" placeholder="اكتب  (0)  صفــر اذا كانت الكمية المسحوبة بعدد القطع فقط" required >
                <input type="text" class="text-primary" value="الموجود بالنقطة {{ttp.last_quantity_packet}} كرتونة" class="form-control" readonly>
              </div>
            </div>
        </div> -->
        <div class="form-group row text-danger">
            <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالواحدة / بالقطعة </label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="number" name="old_quantity" min ="0"  max="{{ttp.old_amount}}" class="form-control" placeholder="اكتب (0)  صفــر اذا كانت الكمية المسحوبة بعدد الكراتين فقط" required >
                <input type="text" class="text-primary" value="الموجود بالنقطة {{ttp.old_amount}} فطعة" class="form-control" readonly>

              </div>
            </div>
        </div>
    {%endif%}

        {%if ttp.new_amount > 0 %}
      <!--  <div class="form-group row">
            <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالكرتونة جديد</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="number" name="new_quantity_packet{{ttp.product.id}}" min ="0" class="form-control" placeholder="اكتب  (0)  صفــر اذا كانت الكمية المسحوبة بعدد القطع فقط" required>
                <input type="text" class="text-primary" value="الموجود بالنقطة {{ttp.quantity_packet}} كرتونة" class="form-control" readonly>

              </div>
            </div>
        </div> -->
        <div class="form-group row ">
            <label for="products" class="col-sm-2 font-weight-bold col-form-label" >الكمية بالواحدة / بالقطعة جديد</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                <input type="number" name="new_quantity" min ="0"  max="{{ttp.new_amount}}" class="form-control" placeholder="اكتب (0)  صفــر اذا كانت الكمية المسحوبة بعدد الكراتين فقط" required>
                <input type="text" class="text-primary" value="الموجود بالنقطة {{ttp.new_amount}} قطعة" class="form-control" readonly>

              </div>
            </div>
        </div>

        {%endif%}


        <div class="d-flex justify-content-around mt-4">
          <button type="submit" class="btn btn-danger font-weight-bold px-5 ">استرجاع</button>
        </div>

    </form>
  </div>
  {%endif%}
  {%endfor%}
      <div class="row  font-weight-bold p-3 mb-4 justify-content-center">
      <a href="{%url 'content:point_page' point.id %}">
          <button class="btn y btn-hover font-weight-bold px-5 mx-2">رجوع</button>
      </a>
      </div>


    {% if failed == 1 %}
    <div class="alert alert-danger text-center mt-3 mb-0" role="alert">
      خطأ لم يتم تحديث البيانات . تأكد من اسم المنتج و الكمية الصحيحة
    </div>
    {%elif success %}
    <div class="alert alert-success text-center mt-3 mb-0" role="alert">
      تم حفظ البيانات
    </div>
    {% endif %}

    <script>
      const navLinks = document.querySelectorAll(".nav-item")
      for (link of navLinks){
          link.classList.remove('active-link')
      }
      navLinks[7].classList.add('active-link');

    </script>


{%endblock%}
